<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="inactive underlineHover" href="#"> Sign In </h2>
      <h2 class="active">Sign Up </h2>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="login" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="text" id="bio" class="fadeIn third" name="login" placeholder="Introduce yourself">
        <input type="submit" class="fadeIn fourth" value="Register">
      </form>
  
    </div>
  </div>