<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <h2 class="inactive underlineHover" href="#">Sign Up </h2>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="username" class="fadeIn second" name="login" placeholder="username">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <div id="formFooter">
        <a class="underlineHover" href="#">Guest access</a>
      </div>
  
    </div>
  </div>